/* *{outline: 1px solid red;} */
@import url('https://fonts.googleapis.com/css?family=Lora|Source+Sans+Pro');

/* paste from google fonts */
h1, h2, h3, h4, h5, h6{font-family: 'Source Sans Pro', sans-serif;}
h2 {font-size: 1.35rem;}
p {line-height: 1.25em;}
body{font-family: 'Lora', serif;}
