
/* *****************GENERAL************** */
.wrap {
	max-width: 1100px;
	margin: 0 auto;
	width: 90%
}

* {
	outline: none;
}


/* *****************NAV-MOBILE SECTION************** */
.title-bar {
	height: 60px;
}

#mobile-menu {
	background-color: black;
	padding: 10px;
}

#mobile-menu li {
	list-style: none;
	text-align: center;
}

#mobile-menu a {
	font-weight: bold;
	color: #118C4E;
	line-height: 3;
}




/* *****************NAV-DESKTOP SECTION************** */
.nav-desktop {
	background-color: black;
	height: 80px;
}

.site-logo {
	color: white;
}

.nav-desktop .menu-desktop {
	background-color: transparent;
}

.nav-desktop a {
	color: white;
}

.nav-desktop a:hover {
	color: #118C4E;
}

/* *****************HERO SECTION************** */
.hero {
	background-color: grey;
	padding: 80px 0px;
	height: 400px;
	background-image: url("../images/patterns.png");
	text-align: center;
}

.hero h1 {
	color: #118C4E;

}

.hero p {
	color: rgba(255,255,255,0.7);

}

/* *****************MAIN SECTION************** */
.main {
	padding: 80px 0px;
}

.main span {
	font-weight: bold;
	color: #118C4E;
}

.main li {
	list-style: none;
}

.main h1 {
	color: #118C4E;
	text-align: center;
}

.main hr {
	margin-top: -10px;

}

/* *****************FOOTER************** */
footer {
	background-color: black;
	padding: 30px 0px;

}

footer a {
	display: block;
	color: white;
	font-size: 13px;
}

footer a:hover {
	color: #118C4E
}

footer h4 {
	color: #118C4E;
	font-size: 21px;
}

footer hr {
	border-color: rgba(255,255,255,0.3);
	margin: 10px 0;
	width: 100px;
}

footer p {
	display: block;
	color: rgba(255,255,255,0.7);
	font-size: 13px;

}

/* *****************MEDIA QUERY************** */
@media (max-width: 639px) {
	.nav-desktop {
		display: none;
	}
}

@media (max-width: 875px) {
	.hero h1, .hero p {
		width: 100%;
	}
}

/* *******************************************************************************
															ABOUT PAGE
******************************************************************************* */
.about-content img {
	float: left;
	padding-right: 20px;
}

.about-content h1 {
	color: #118C4E;
	text-align: center;
	margin-left: 300px;
}

.about-content {
	padding: 80px 0px;
}

.about-content hr {
	margin-top: -10px;
}

.about-content p {
	padding-top: 50px;
}

/* *****************ABOUT FOOTER************** */
.about-footer {
	background-color: black;
  

}

.about-footer a {
	display: block;
	color: white;
	font-size: 13px;
}

.about-footer a:hover {
	color: #118C4E
}

.about-footer h4 {
	color: #118C4E;
	font-size: 21px;
}

.about-footer hr {
	border-color: rgba(255,255,255,0.3);
	margin: 10px 0;
	width: 100px;
}

.about-footer p {
	display: block;
	color: rgba(255,255,255,0.7);
	font-size: 13px;

}
