
/* *****************GENERAL************** */
.wrap {
	max-width: 1100px;
	margin: 0 auto;
	width: 90%
}



/* *****************HERO SECTION************** */
.hero {
	background-color: grey;
	padding: 80px 0px;
	height: 400px;
}

/* *****************MAIN SECTION************** */
.main {
	padding: 80px 0px;

}



/* *****************FOOTER************** */
footer {
	background-color: #222;
	padding: 80px 0px;
}

footer a {
	display: block;
}
