.contact-content {
	padding: 236px 0px;
  text-align: center;
}

.contact-content span {
	font-weight: bold;
	color: #118C4E;
}

.contact-content h1 {
	color: #118C4E;
	padding-bottom: 40px;
}

.contact-content h3 {
	color: #118C4E;
}

.contact-content hr {
	margin-top: -10px;
}

.contact-content i {
  font-size: 67px;
}
